@page
@model Pop_Simona_Proiect1.Pages.Programari.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Stergere</h1>

<h3>Esti sigur ca vrei sa stergi aceasta programare?</h3>
<div>
    <h4>ProgramareMedic</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramareMedic.NumeMedic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProgramareMedic.NumeMedic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramareMedic.Specializare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProgramareMedic.Specializare)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramareMedic.PretConsult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProgramareMedic.PretConsult)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProgramareMedic.DataConsult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProgramareMedic.DataConsult)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ProgramareMedic.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Inapoi la lista prinicpala de programari</a>
    </form>
</div>
